@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1,
h2,
h4,
h5,
h6,
p{
    margin: 0;
}
.container{
    max-width: 1400px;
    width: 100%;
    margin:0;
}
/*header*/
.global-notification{
    background-color: #000;
    padding: 3px;
    height: 34px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding-top: 5px;
}

.header-wrapper{
    display: flex;
    align-items: center;
}

.header-left{
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 21px;
    vertical-align: baseline;
    margin: 0;
    height: 40px;
    width: 455px;
}
.header-left .logo {
    margin: 0;
    padding: 0;
    border: 0;
}
.header-row{
    height: 90px;
    align-items: center;
}
.header-center-menu{
    width: 931px;
}
.header-center{
    width: 411px;
    height: 50px;
}
.header-center .navigation .menu-list{
    padding-top: 35px;
    text-transform: uppercase;
    column-gap: 8px;
}

/* header center */

.menu-list-item{
    text-align: center;
    float: left;

}
.menu-list .menu-list-item .menu-link{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #000;
    position: relative;
    font-weight: 400;
}
li{

    display: list-item;
    padding-left: 15px;

}

ul{
    list-style: none;
}

/* SezonunTrendleri */
    .imgcontainer{
        width: 16.66666667%;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        padding: 0;
        border: 0;
        float: left;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    
    .img::after{
    content:"";
    clear: both;
    display: table;
    }
    
    img{    
    display: block;
    max-width: 100%;
    }
    
    h3{
        padding-top: 15px;
        font-size: 34px;
        text-align: center;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    span{
        font: inherit;
        vertical-align:auto;
        font-family:serif;
        font-size: 19px;
        text-align: center;
        text-decoration: none;
        text-size-adjust: 100%;
        margin:5px 42px;
        padding-left: 35px;
    }
    a{
        color:#000;
        
        text-decoration: none;
    }
    a:hover{
    
        text-decoration: underline;
    }

    /* Koleksiyonlar  */
    *{
        box-sizing: border-box;    
        }

    .coleciton{
        width: 16.66666667%;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
        padding: 0;
        border: 0;
        float: left;
    }
    .cotainer-fuild .home-quadr{
        content:"";
        clear: both;
        display: flex;
        margin: 35px 30px;
        box-sizing: border-box;
        column-gap: 20px;
        
    }
    .foooter-badges{
        margin: 54px 0;
        width: 1160px;
        height: 169px;
     }
     
     .badges {
         margin-left: -5px;
         margin-right: -55px;
         display: flex;
         width: 1170px;
         height: 169px;
         padding-left: 590px;
         padding-bottom: 220px;
     }
     
     .passing{
         width: 25%;
         width: 292px;
         height: 169px;
         position: relative;
         min-height: 1px;
         padding-left: 10px;
         padding-right: 10px;
     }
     
     .badges-img{
         width: 50px;
         margin: 6px auto 12px;display: block;
        }
        
        .badges-title{
            font-size: 17px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            width: 150px;
            min-height: 46px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .badges-text{
            font-size: 14px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            padding: 8px 0;
        }
        .home-quadr h4 {
            font-size: 24px;
            text-align: center;
            padding: 7px 0 2px 0;
        }
        .home-quadr p {
            font-size: 18px;
            height: 42px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .home-quadr .medium-button:hover {
            text-decoration: none;
            background: #000;
            color: #fff;
            transition: .3s ease all;
        }
        .home-quadr .medium-button {
            border: 1px solid #000;
            padding: 8px 16px;
            display: table;
            margin: 7px auto;
            min-width: 180px;
            text-align: center;
            transition: .3s ease all;
            position: relative;
        }
       .right-icon {
            transform: rotate(90deg);
            display: block;
            float: right;
            font-size: 14px;
            color: #000;
            font-weight: bold;
            margin-top: 3px;
            margin-left: 15px;
            transition: .3s ease all;
            position: absolute;
            right: 7px;
            top: 50%;
            margin-top: -7px;
            font-family: 'icomoon' !important;
        }
        .slider-home{
            padding-bottom: 50px;
        }
        /* .container-fluid {
            margin-right: auto;
            margin-left: auto;
            padding-left: 5px;
            padding-right: 5px;
            display: flex;
        }
        .home-two-image{
            display: flex;
        }
        .home-two-image-row{
            display: flex;
        } */

        /*footer*/
        .footer{
            position:relative;
            margin: 0;
            padding: 0;
            border: 0;
         }
         .subscribe{
             background-color: #636363;
             padding: 35px 0;
             text-align: center;
             color: #FFFFFF;
             margin: 0;
             border: 0;
         }
         .subscribe-form{
             max-width: 450px;
             margin: 0 auto;
             padding: 0;
             border: 0;
         }
         
         .input-wrapper{
             width: 100%;
             display: flex;
             justify-content: center;
             align-items: center;
             padding: auto;
         }
         
         .subscribe-title{
             font-weight: 600;
             font-size: 17px;
             margin-bottom: 5px ;
             margin: 0;
             padding: 0;
             border: 0; 
         }
         .subscribe p {
         
             font-size: 12px;
             font-weight: 200;
             margin-bottom: 10px;
         }
         .input-wrapper .subscribe-input{
             flex: 2 1;
             line-height: 35px;
             background-color: #FFFFFF;
             border: solid 1px #e5e5e5;
             display: inline-block;
             vertical-align: middle;
             padding: 0 10px;
             color: black;
         }
         .input-wrapper .subscribe-button{
             flex: 1 1;
             line-height: 36px;
             background-color: #000;
             display: inline-block;
             vertical-align: middle;
             font-size: 15px;
             letter-spacing: 2px;
             font-weight: 200;
             text-align: center;
             margin-left: 1px;
             border: 0;
         }
         
         /**************************************/
         
         .footer-inner{
             color:white;
             font-family:Arial, Helvetica, sans-serif
         
         }
         
         .container{
             margin-right: auto;
             margin-left: auto;
             padding-left: 5px;
             padding-right: 5px;
             display: flex;
         
         }
         .footer-inner{
            color:white;
            font-family:Arial, Helvetica, sans-serif
        
        }
        
        .container{
        
            margin-right: auto;
            margin-left: auto;
            padding-left: 5px;
            padding-right: 5px;
            display: flex;
        
        }
        
        .footer-inner-item{
            display: flex;
            padding-top: 22px;
            padding-bottom: 24px;position: relative;
            min-height: 1px;
            padding-left: 10px;
            padding-right: 10px;
        }
        
        
        .item-left{
            margin-left: -5px;
            margin-right: -5px;
            margin: 0;
            padding: 0;
            border: 0;    
        }
        
        .footer-menu{
            width: 151px;
            height: 201px;
            display:inline-table;
            
        
        }
        .footer-menu-title{
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 20px;
        }
        
        a:hover{
            text-decoration: underline;
        }
        
        .footer-menu-item{ 
        
            display: block;
            font-size: 12px;
            font-weight: 300;
            line-height: 20px;
            color:inherit;
            text-decoration: none;
        }
               
        .menu-bottom{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 859px;
            height: 95px;
        }
        
        .footer-inner-country{
        
            padding-top: 32px;
            padding-bottom: 24px;
        }
        .item-right{
            padding-top: 52px;
            padding-bottom: 24px;
            width: 25%;
        }
        
        .app-download{
            display: block;
            margin: 0 0 45px 20px;     
        }
        
        .app-download-box{
            display: flex;
        
        }
        
        .app-download-img{
            max-width: 100%;
            height: 37px;
            display: block;
        }
        
        .social-box{
            display: block;
            margin: 0 0 30px 20px;      
        }
        
        .musteri-hizmetleri{
            font-size: 18px;
            color: #ffffff;
            margin: 45px 0 0 20px;       
        }
        .social-box-target{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
            transition: all .2s;
            text-decoration: none !important;
        }
        
        .social-box-target i {
            font-size: 1.538em;
            
        }
        
        .icon-instagram:before {
            content: "\E906";
        }
         